
.monitor-container{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 1em;
}

.parameters-container {
    display:grid;
    grid-template-columns:50% 50%;
    font-size: 13px;
    padding-top: 1em;
}

.parameters-container input {
    width: 5em;
}

#graph {
    border: solid black 1px;
}